.main {
  padding: 20px;  
}
.course-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 15px;
  gap: 20px;
}
.lessons-container {
  display: flex;
  flex-direction: column;
}
.lesson {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-bottom: 1px solid gray;
}
.lesson h2 {
  color: rgb(152, 152, 152);
  font-size: 16px;
}

.circular-progress-bar {
  display: flex;
  width: 100%;
  background-color: rgb(229, 230, 219);
  height: 10px;
  border-radius: 6px;
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: space-around;
  margin: 40px 20px;
}
